<% content_for :page_header do %>
  <div class="row">
    <div class="span12">
      <h1>Documentation</h1>
    </div>
  </div>
<% end %>

<div class="row">
  <div class="span12">
    <p>Getting started with Clause Logic is easy. Jump right into the API Documentation or check out our Getting Started guides.</p>
  </div>
</div>

<div class="row">
  
  <div class="span6">
    <h3>Getting Started</h3>
    <ul>
      <li><%= link_to 'API Overview', v1_guides_overview_path %></li>
      <li><%= link_to 'API Environments', v1_guides_api_environments_path %></li>
      <li><%= link_to 'Create a Procurement Document', v1_guides_create_procurement_document_path %></li>
      <li><%= link_to 'Specify Indicators', v1_guides_specify_indicators_path %></li>
      <li><%= link_to 'Specify Regulations', v1_guides_specify_regulations_path %></li>
      <li><%= link_to 'Launch the CL GUI', v1_guides_launch_gui_path %></li>
    </ul>
  </div>
  
  <div class="span6">
    <h3>REST API</h3>
    <ul>
      <li><%= link_to 'Resource Objects', v1_resource_objects_path %></li>
      <li><%= link_to 'Resources (API Endpoints)', v1_resources_path %></li>
      <li><%= link_to 'Error Codes and Responses', v1_api_errors_path %></li>
    </ul>
  </div>

</div>

<div class="row">
  <div class="span6">
    <h3>Tutorials</h3>
    <ul>
      <li><%= link_to 'How to Create a Procurement Document?', v1_tutorials_create_procurement_document_path %></li>
      <li><%= link_to 'How do I specify which regulations apply?', v1_tutorials_applying_regulations_path %></li>
      <li><%= link_to 'What are CLATs and How do I use Them?', v1_tutorials_clats_and_how_to_use_them_path %></li>
    </ul>
  </div>

  <div class="span6">
    <h3>Authentication</h3>
    <ul>
      <li><%= link_to 'Request Types', v1_authentication_request_types_path %></li>
      <li><%= link_to 'Creating a Signature', v1_authentication_signature_path %></li>
    </ul>
  </div>

</div>