<div id="siteMap">
  <div class="container">
    <div class="row">
      <div class="span3">
        <a href="http://www.defense.gov" alt="Link to DoD website">
          <%= image_tag('sitemap_dod.png', :class => 'sitemap-image') %>
        </a>
        <a href="http://www.acq.osd.mil/dpap" alt="Link to DPAP website">
          <%= image_tag('sitemap_dpap.png', :class => 'sitemap-image') %>
        </a>
      </div>
      <div class="span2">
        <span class="sitemap-header">Clause Logic</span><br />
        <a href="#">About</a><br />
        <a href="https://support.clause-logic.com">Support</a><br />
        <a href="#">Accessibility</a>
      </div>
      <div class="span2">
        <span class="sitemap-header">Developers</span><br />
        <%= link_to 'API Documentation', root_path %>
        <%= link_to 'API Status', 'https://status.clause-logic.com' %>
      </div>
      <div class="span2">
      
      </div>
      <div class="pull-right">
        <%= image_tag('sitemap_image.png', :class => 'sitemap-image') %>
      </div>
    </div>
  </div>
</div>
