<% content_for :page_header do %>
  <br />
  <ul class="breadcrumb">
    <li><%= link_to 'Documentation', v1_root_path %> <span class="divider">/</span></li>
    <li><%= link_to 'Resource Objects', v1_resource_objects_path %> <span class="divider">/</span></li>
    <li class="active">Section</li>
  </ul>
  <div class="row">
    <div class="span12">
      <h1>Section (Library)</h1>
    </div>
  </div>
<% end %>

<p>A section is...</p>
<br />
<div class="row">
  <div class="span12">
    <table class="table">
      <tr>
        <th>Field</th>
        <th>XML Type</th>
        <th>Data Type</th>
        <th>Description</th>
      </tr>
      <tr>
        <td>id</td>
        <td>Attribute</td>
        <td>Integer</td>
        <td>
          Unique ID<br />
          <br />
          <pre class="prettyprint"><%= '<Section id="1">...</Section>' %></pre>  
        </td>
      </tr>
      <tr>
        <td>Name</td>
        <td>Element</td>
        <td>String</td>
        <td>
          Name of Section<br />
          <br />
          <pre class="prettyprint"><%= "<Name>I</Name>" %></pre>  
        </td>
      </tr>
      <tr>
        <td>Title</td>
        <td>Element</td>
        <td>String</td>
        <td>
          Title of Section<br />
          <br />
          <pre class="prettyprint"><%= "<Title>Contract Clauses</Title>" %></pre> 
        </td>
      </tr>
    </table>
    
    <h3>Example Section</h3>
    <pre class="prettyprint linenums">
&lt;Section id=&quot;1&quot;&gt;
  &lt;Name&gt;I&lt;/Name&gt;
  &lt;Title&gt;Contract Clauses&lt;/Title&gt;
&lt;/Section&gt;</pre>
  </div>
</div>
