<% content_for :page_header do %>
  <br />
  <ul class="breadcrumb">
    <li><%= link_to 'Documentation', v1_root_path %> <span class="divider">/</span></li>
    <li><%= link_to 'Resource Objects', v1_resource_objects_path %> <span class="divider">/</span></li>
    <li class="active">Regulation</li>
  </ul>
  <div class="row">
    <div class="span12">
      <h1>Regulation (Library)</h1>
    </div>
  </div>
<% end %>

<p>A regulation is...</p>
<br />
<div class="row">
  <div class="span12">
    <table class="table">
      <tr>
        <th>Field</th>
        <th>XML Type</th>
        <th>Data Type</th>
        <th>Description</th>
      </tr>
      <tr>
        <td>id</td>
        <td>Attribute</td>
        <td>Integer</td>
        <td>
          Unique ID<br />
          <br />
          <pre class="prettyprint"><%= '<Regulation id="1">...</Regulation>' %></pre>  
        </td>
      </tr>
      <tr>
        <td>Name</td>
        <td>Element</td>
        <td>String</td>
        <td>
          Name of Regulation<br />
          <br />
          <pre class="prettyprint"><%= "<Name>FAR</Name>" %></pre>  
        </td>
      </tr>
      <tr>
        <td>Title</td>
        <td>Element</td>
        <td>String</td>
        <td>
          Title of Regulation<br />
          <br />
          <pre class="prettyprint"><%= "<Title>Federal Acquisition Regulation</Title>" %></pre> 
        </td>
      </tr>
      <tr>
        <td>Url</td>
        <td>Element</td>
        <td>String</td>
        <td>
          URL where the Regulation is located<br />
          <br />
          <pre class="prettyprint"><%= "<Url>https://www.acquisition.gov/far</Url>" %></pre> 
        </td>
      </tr>
    </table>
    
    <h3>Example Regulation</h3>
    <pre class="prettyprint linenums">
&lt;Regulation id=&quot;1&quot;&gt;
  &lt;Name&gt;FAR&lt;/Name&gt;
  &lt;Title&gt;Federal Acquisition Regulation&lt;/Title&gt;
  &lt;Url&gt;https://www.acquisition.gov/far&lt;/Url&gt;
&lt;/Regulation&gt;</pre>

    <h3>Example Regulation (minimized)</h3>
    <p>This minimized representation will be returned when it is part of another resource object such as a Clause.</p>
    <pre class="prettyprint linenums">&lt;Regulation id=&quot;1&quot;&gt;FAR&lt;/Regulation&gt;</pre>
  </div>
</div>
