<% content_for :page_header do %>
  <br />
  <ul class="breadcrumb">
    <li><%= link_to 'Documentation', v1_root_path %> <span class="divider">/</span></li>
    <li><%= link_to 'Resource Objects', v1_resource_objects_path %> <span class="divider">/</span></li>
    <li class="active">Prescription</li>
  </ul>
  <div class="row">
    <div class="span12">
      <h1>Prescription (Library)</h1>
    </div>
  </div>
<% end %>

<p>A prescription is...</p>
<br />
<div class="row">
  <div class="span12">
    <table class="table">
      <tr>
        <th>Field</th>
        <th>XML Type</th>
        <th>Data Type</th>
        <th>Description</th>
      </tr>
      <tr>
        <td>id</td>
        <td>Attribute</td>
        <td>Integer</td>
        <td>
          Unique ID<br />
          <br />
          <pre class="prettyprint"><%= '<Prescription id="1">...</Prescription>' %></pre>  
        </td>
      </tr>
      <tr>
        <td>Number</td>
        <td>Element</td>
        <td>String</td>
        <td>
          Prescription Number<br />
          <br />
          <pre class="prettyprint"><%= '<Number>3.503-2</Number>' %></pre>  
        </td>
      </tr>
      <tr>
        <td>Regulation</td>
        <td>Element</td>
        <td><%= link_to 'Regulation', v1_resource_objects_library_regulation_path %></td>
        <td>
          The regulation to which the prescription belongs<br />
          <br />
          <pre class="prettyprint"><%= '<Regulation id="1">...</Regulation>' %></pre> 
        </td>
      </tr>
      <tr>
        <td>Revision</td>
        <td>Element</td>
        <td><%= link_to 'Prescription Revision', v1_resource_objects_library_prescription_revision_path %></td>
        <td>
          The effective revision for this prescription<br />
          <br />
          <pre class="prettyprint"><%= '<Revision id="6">...</Revision>' %></pre> 
        </td>
      </tr>
    </table>
    
    <h3>Example Prescription</h3>
    <pre class="prettyprint linenums">
&lt;Prescription id=&quot;1&quot;&gt;
  &lt;Number&gt;52.202-1&lt;/Number&gt;
  &lt;Regulation id=&quot;1&quot;&gt;FAR&lt;/Regulation&gt;
  &lt;Revision id=&quot;1&quot;&gt;
    &lt;Body&gt;
      &lt;![CDATA[Prescription Text]]&gt;
    &lt;/Body&gt;
    &lt;EffectiveStartDate&gt;01/01/2012&lt;/EffectiveStartDate&gt;
    &lt;EffectiveEndDate/&gt;
  &lt;/Revision&gt;
&lt;/Prescription&gt;</pre>
  </div>
</div>
