<% content_for :page_header do %>
  <br />
  <ul class="breadcrumb">
    <li><%= link_to 'Documentation', v1_root_path %> <span class="divider">/</span></li>
    <li><%= link_to 'Resource Objects', v1_resource_objects_path %> <span class="divider">/</span></li>
    <li class="active">Clause</li>
  </ul>
  <div class="row">
    <div class="span12">
      <h1>Clause (Procurement Document)</h1>
    </div>
  </div>
<% end %>

<p>A Clause is...</p>
<br />
<div class="row">
  <div class="span12">
    <table class="table">
      <tr>
        <th>Field</th>
        <th>XML Type</th>
        <th>Data Type</th>
        <th>Description</th>
      </tr>
      <tr>
        <td>id</td>
        <td>Attribute</td>
        <td>Integer</td>
        <td>
          Unique ID<br />
          <br />
          <pre class="prettyprint"><%= '<ProcurementDocumentClause id="1">...</ProcurementDocumentClause>' %></pre>  
        </td>
      </tr>
      <tr>
        <td>fullText</td>
        <td>Attribute</td>
        <td>Boolean</td>
        <td>
          Indicates if the clause is to be displayed in full text.<br />
          <br />
          <pre class="prettyprint"><%= '<ProcurementDocumentClause fullText="false">...</ProcurementDocumentClause>' %></pre>  
        </td>
      </tr>
      <tr>
        <td>prescribed</td>
        <td>Attribute</td>
        <td>Boolean</td>
        <td>
          Indicates if the clause was prescribed.<br />
          <br />
          <pre class="prettyprint"><%= '<ProcurementDocumentClause prescribed="true">...</ProcurementDocumentClause>' %></pre>  
        </td>
      </tr>
      <tr>
        <td>required</td>
        <td>Attribute</td>
        <td>Boolean</td>
        <td>
          Indicates if the clause is required.<br />
          <br />
          <pre class="prettyprint"><%= '<ProcurementDocumentClause required="false">...</ProcurementDocumentClause>' %></pre>  
        </td>
      </tr>
      <tr>
        <td>Clause</td>
        <td>Element</td>
        <td><%= link_to 'Clause', v1_resource_objects_library_clause_path %></td>
        <td>
          The actual Clause object.<br />
          <br />
          <pre class="prettyprint"><%= '<Clause>...</Clause>' %></pre> 
        </td>
      </tr>
    </table>
    
    <h3>Example Clause</h3>
    <pre class="prettyprint linenums">
&lt;Clause id=&quot;1&quot; prescribed=&quot;true&quot; required=&quot;false&quot; referenceAllowed=&quot;true&quot; provision=&quot;false&quot;&gt;
  &lt;Number&gt;52.202-1&lt;/Number&gt;
  &lt;Regulation id=&quot;1&quot;&gt;FAR&lt;/Regulation&gt;
  &lt;Section id=&quot;1&quot;&gt;I&lt;/Section&gt;
  &lt;ClauseVariation&gt;
    &lt;AlternateOrDeviation&gt;Alternate&lt;/AlternateOrDeviation&gt;
    &lt;VariationName&gt;1&lt;/VariationName&gt;
  &lt;/ClauseVariation&gt;
  &lt;Revision id=&quot;1&quot; hasFillins=&quot;true&quot; isEditable=&quot;false&quot;&gt;
    &lt;Title&gt;Clause Title&lt;/Title&gt;
    &lt;Body&gt;
      &lt;![CDATA[Clause Text]]&gt;
    &lt;/Body&gt;
    &lt;EffectiveStartDate&gt;01/01/2012&lt;/EffectiveStartDate&gt;
    &lt;EffectiveEndDate/&gt;
  &lt;/Revision&gt;
&lt;/Clause&gt;</pre>
  </div>
</div>
