<% content_for :page_header do %>
  <br />
  <ul class="breadcrumb">
    <li><%= link_to 'Documentation', root_path %> <span class="divider">/</span></li>
    <li><%= link_to 'Resources', resources_path %> <span class="divider">/</span></li>
    <li class="active">Indicator</li>
  </ul>
  <div class="row">
    <div class="span12">
      <h1>GET indicators</h1>
    </div>
  </div>
<% end %>

<div class="row">
  <div class="span8">
    <h3>Resource URL</h3>
    <p><%= request.protocol %><%= request.host %>/api/v1/indicators.format</p>
    <br />
    <h3>Example Request</h3>
    <table class="table">
      <tr>
        <td>GET</td>
        <td><%= request.protocol %><%= request.host %>/api/v1/indicators.xml</td>
      </tr>
    </table>
    <p><pre class="prettyprint"><%= @response %></pre></p>
    <h3>Example Request with Pagination</h3>
    <table class="table">
      <tr>
        <td>GET</td>
        <td><%= request.protocol %><%= request.host %>/api/v1/indicators.xml?page=1</td>
      </tr>
    </table>
    <p><pre class="prettyprint"><%= @response_pagination %></pre></p>
  </div>
  <div class="span4">
    <div class="well">
      <h3>Resource Information</h3>
      <table class="table">
        <tr>
          <td>Request Type</td>
          <td><%= link_to 'Non Authenticated', authentication_request_types_path %></td>
        </tr>
        <tr>
          <td>Response Formats</td>
          <td>xml</td>
        </tr>
        <tr>
          <td>HTTP Method</td>
          <td>GET</td>
        </tr>
        <tr>
          <td>Optional Parameters</td>
          <td>
            <em>page</em> - enables pagination. (example page=1)
          </td>
        </tr>
        <tr>
          <td>Response Object</td>
          <td><%= link_to 'Indicators', resource_objects_library_indicator_path %></td>
        </tr>
      </table>
    </div>
  </div>
</div>
