<% content_for :page_header do %>
  <br />
  <ul class="breadcrumb">
    <li><%= link_to 'Documentation', root_path %> <span class="divider">/</span></li>
    <li><%= link_to 'Resources', resources_path %> <span class="divider">/</span></li>
    <li class="active">CLAT</li>
  </ul>
  <div class="row">
    <div class="span12">
      <h1>GET procurement_document/:token/clats</h1>
    </div>
  </div>
<% end %>

<div class="row">
  <div class="span8">
    <h3>Resource URL</h3>
    <p>/api/v1/procurement_document/:token/clats.format</p>
    <br />
    <h3>Example Request</h3>
    <table class="table">
      <tr>
        <td>GET</td>
        <td>/api/v1/procurement_document/:token/clats.xml</td>
      </tr>
    </table>
    <br />
    <pre class="prettyprint"><%= @response %></pre>
  </div>
  <div class="span4">
    <div class="well">
      <h3>Resource Information</h3>
      <table class="table">
        <tr>
          <td>Request Type</td>
          <td><%= link_to 'Signed', authentication_request_types_path %></td>
        </tr>
        <tr>
          <td>Response Formats</td>
          <td>xml</td>
        </tr>
        <tr>
          <td>HTTP Method</td>
          <td>GET</td>
        </tr>
        <tr>
          <td>Response Object</td>
          <td><%= link_to 'CLATs', resource_objects_procurement_document_clat_path %></td>
        </tr>
      </table>
    </div>
  </div>
</div>
