<% content_for :page_header do %>
  <br />
  <ul class="breadcrumb">
    <li><%= link_to 'Documentation', root_path %> <span class="divider">/</span></li>
    <li><%= link_to 'Resource Objects', resource_objects_path %> <span class="divider">/</span></li>
    <li class="active">Clause</li>
  </ul>
  <div class="row">
    <div class="span12">
      <h1>Clause (Library)</h1>
    </div>
  </div>
<% end %>

<p>A clause is...</p>
<br />
<div class="row">
  <div class="span12">
    <table class="table">
      <tr>
        <th>Field</th>
        <th>XML Type</th>
        <th>Data Type</th>
        <th>Description</th>
      </tr>
      <tr>
        <td>id</td>
        <td>Attribute</td>
        <td>Integer</td>
        <td>
          Unique ID<br />
          <br />
          <pre class="prettyprint"><%= '<Clause id="1">...</Clause>' %></pre>  
        </td>
      </tr>
      <tr>
        <td>referenceAllowed</td>
        <td>Attribute</td>
        <td>Boolean</td>
        <td>
          Indicates whether or not Incorporation by Reference is allowed.<br />
          <br />
          <pre class="prettyprint"><%= '<Clause referenceAllowed="true">...</Clause>' %></pre>  
        </td>
      </tr>
      <tr>
        <td>provision</td>
        <td>Attribute</td>
        <td>Boolean</td>
        <td>
          Indicates whether or not this is a provision or a clause.<br />
          <br />
          <pre class="prettyprint"><%= '<Clause provision="false">...</Clause>' %></pre>  
        </td>
      </tr>
      <tr>
        <td>Number</td>
        <td>Element</td>
        <td>String</td>
        <td>
          Clause Number<br />
          <br />
          <pre class="prettyprint"><%= '<Number>3.503-2</Number>' %></pre>  
        </td>
      </tr>
      <tr>
        <td>Regulation</td>
        <td>Element</td>
        <td><%= link_to 'Regulation', resource_objects_library_regulation_path %></td>
        <td>
          The regulation to which the prescription belongs<br />
          <br />
          <pre class="prettyprint"><%= '<Regulation id="1">...</Regulation>' %></pre> 
        </td>
      </tr>
      <tr>
        <td>Section</td>
        <td>Element</td>
        <td><%= link_to 'Section', resource_objects_library_section_path %></td>
        <td>
          The UCF section to which the clause/provision belongs<br />
          <br />
          <pre class="prettyprint"><%= '<Section id="1">...</Section>' %></pre> 
        </td>
      </tr>
      <tr>
        <td>ClauseVariation</td>
        <td>Element</td>
        <td><%= link_to 'ClauseVariation', resource_objects_library_clause_variation_path %></td>
        <td>
          Describes the type of variation (Alternate or Deviation)<br />
          <br />
          <pre class="prettyprint"><%= '<ClauseVariation>...</ClauseVariation>' %></pre> 
        </td>
      </tr>
      <tr>
        <td>Revision</td>
        <td>Element</td>
        <td><%= link_to 'Clause Revision', resource_objects_library_clause_revision_path %></td>
        <td>
          The effective revision for this clause/provision<br />
          <br />
          <pre class="prettyprint"><%= '<Revision id="6">...</Revision>' %></pre> 
        </td>
      </tr>
    </table>
    
    <h3>Example Clause</h3>
    <pre class="prettyprint linenums"><%= @xml %></pre>
  </div>
</div>
