<div class="row-fluid">
  <h2>Endpoints</h2>
  <ul>
    <li><%= link_to "CLATs", rest_endpoints_clats_path %></a></li>
    <li><%= link_to "Clauses", rest_endpoints_clauses_path %></a></li>
    <li><%= link_to "Indicators", rest_endpoints_indicators_path %></a></li>
    <li><%= link_to "Prescriptions", rest_endpoints_prescriptions_path %></a></li>
    <li><%= link_to "Procurement Documents", rest_endpoints_procurement_documents_path %></a></li>
    <li><%= link_to "Regulations", rest_endpoints_regulations_path %></a></li>
    <li><%= link_to "Sections", rest_endpoints_sections_path %></a></li>
    <li><%= link_to "Timestamp", rest_endpoints_timestamp_path %></a></li>
  </ul>
</div>
