<div class="row-fluid">
  <h2>REST API</h2>
<ul>
<li><a href="">Overview</a></li>
<li><a href="">Resource Objects</a>
<ul>
<ul>
                    <li><%= link_to "CLAT", rest_resource_objects_clat_path %></li>
                    <li><%= link_to "Clause", rest_resource_objects_clause_path %></li>
                    <li><%= link_to "Clause Revision", rest_resource_objects_clause_revision_path %></li>
                    <li><%= link_to "ClauseVariation", rest_resource_objects_clause_variation_path %></li>
                    <li><%= link_to "Indicator", rest_resource_objects_indicator_path %></li>
                    <li><%= link_to "Indicator Value", rest_resource_objects_indicator_value_path %></li>
                    <li><%= link_to "Prescription", rest_resource_objects_prescription_path %></li>
                    <li><%= link_to "Prescription Revision", rest_resource_objects_prescription_revision_path %></li>
                    <li><%= link_to "ProcurementDocument", rest_resource_objects_procurement_document_path %></li>
                    <li><%= link_to "Regulation", rest_resource_objects_regulation_path %></li>
                    <li><%= link_to "Section", rest_resource_objects_section_path %></li>
                    <li><%= link_to "Timestamp", rest_resource_objects_timestamp_path %></li>
                  </ul>
</ul>
</li>
<li><a href="">Endpoints</a>
<ul>
<li><a href="">CLATs</a></li>
<li><a href="">Clauses</a></li>
<li><a href="">Indicators</a></li>
<li><a href="">Prescriptions</a></li>
<li><a href="">Procurement Documents</a></li>
<li><a href="">Regulations</a></li>
</ul>
</li>
<li><a href="">Error Codes and Responses</a></li>
</ul>
</div>