<div class="row-fluid">
  <h2>Resource Objects</h2>
  <p>Here is a list of objects you will encounter while working with the REST API.</p>
    <ul>
                    <li><%= link_to "CLAT", rest_resource_objects_clat_path %></li>
                    <li><%= link_to "Clause", rest_resource_objects_clause_path %></li>
                    <li><%= link_to "Clause Revision", rest_resource_objects_clause_revision_path %></li>
                    <li><%= link_to "ClauseVariation", rest_resource_objects_clause_variation_path %></li>
                    <li><%= link_to "Indicator", rest_resource_objects_indicator_path %></li>
                    <li><%= link_to "Indicator Value", rest_resource_objects_indicator_value_path %></li>
                    <li><%= link_to "Prescription", rest_resource_objects_prescription_path %></li>
                    <li><%= link_to "Prescription Revision", rest_resource_objects_prescription_revision_path %></li>
                    <li><%= link_to "ProcurementDocument", rest_resource_objects_procurement_document_path %></li>
                    <li><%= link_to "Regulation", rest_resource_objects_regulation_path %></li>
                    <li><%= link_to "Section", rest_resource_objects_section_path %></li>
                    <li><%= link_to "Timestamp", rest_resource_objects_timestamp_path %></li>
                  </ul>
  <p>There are two main types of resource objects: Library and Procurement Document. Library resources pertain to regulation specific information such as clauses and prescriptions. Procurement Document resources pertain to contract specific information.</p>
  <p>When looking at the Objects you will see <span class="label label-warning">PD Only</span>. This indicats that the item is only returned when making a Procurement Document Request</p>
</div>

