<% content_for :page_header do %>
  <br />
  <ul class="breadcrumb">
    <li><%= link_to 'Documentation', v2_root_path %> <span class="divider">/</span></li>
    <li class="active">Resources</li>
  </ul>
  <div class="row">
    <div class="span12">
      <h1>Resources</h1>
    </div>
  </div>
<% end %>

<div class="row">
  <div class="span6">
    <h3>Library Resources</h3>
    <br />
    <ul>
      <li><%= link_to 'Clauses', anchor: 'Clauses' %></li>
      <li><%= link_to 'Indicators', anchor: 'Indicators' %></li>
      <li><%= link_to 'Prescriptions', anchor: 'Prescriptions' %></li>
      <li><%= link_to 'Regulations', anchor: 'Regulations' %></li>
      <li><%= link_to 'Sections', anchor: 'Sections' %></li>
    </ul>
  </div>
  <div class="span6">
    <h3>Procurement Document Resources</h3>
    <br />
    <ul>
      <li><%= link_to 'Clauses', anchor: 'PDClauses' %></li>
      <li><%= link_to 'Indicators', anchor: 'PDIndicators' %></li>
      <li><%= link_to 'Procurement Documents', anchor: 'ProcurementDocuments' %></li>
      <li><%= link_to 'Regulations', anchor: 'PDRegulations' %></li>
    </ul>
  </div>
</div>
<hr />
<div class="row">
  <div class="span12">

    <h3><a name="Clauses">Clauses (Library)</a></h3>
    <br />
    <table class="table table-bordered">
      <tr>
        <th width="350">Resource</th>
        <th>Description</th>
      </tr>
      <tr>
        <td><%= link_to 'GET clauses', v2_resources_library_clauses_path %></td>
        <td>Returns all clauses having a revision that is currently effective.</td>
      </tr>
      <tr>
        <td><%= link_to 'GET clauses/:id', v2_resources_library_clause_path %></td>
        <td>Returns a single clause with its currently effective revision.</td>
      </tr>
      <tr>
        <td><%= link_to 'GET clauses/:id/revisions', v2_resources_library_clause_revisions_path %></td>
        <td>Returns all revisions for a clause.</td>
      </tr>
    </table>

    <h3><a name="Indicators">Indicators (Library)</a></h3>
    <br />
    <table class="table table-bordered">
      <tr>
        <th width="350">Resource</th>
        <th>Description</th>
      </tr>
      <tr>
        <td><%= link_to 'GET indicators', v2_resources_library_indicators_path %></td>
        <td>Returns all indicators.</td>
      </tr>
      <tr>
        <td><%= link_to 'GET indicators/:id', v2_resources_library_indicator_path %></td>
        <td>Returns a single indicator.</td>
      </tr>
    </table>

    <h3><a name="Prescriptions">Prescriptions (Library)</a></h3>
    <br />
    <table class="table table-bordered">
      <tr>
        <th width="350">Resource</th>
        <th>Description</th>
      </tr>
      <tr>
        <td><%= link_to 'GET prescriptions', v2_resources_library_prescriptions_path %></td>
        <td>Returns all prescriptions having a revision that is currently effective.</td>
      </tr>
      <tr>
        <td><%= link_to 'GET prescriptions/:id', v2_resources_library_prescription_path %></td>
        <td>Returns a single prescription with its currently effective revision.</td>
      </tr>
      <tr>
        <td><%= link_to 'GET prescriptions/:id/revisions', v2_resources_library_prescription_revisions_path %></td>
        <td>Returns all revisions for a prescription.</td>
      </tr>
    </table>

    <h3><a name="Regulations">Regulations (Library)</a></h3>
    <br />
    <table class="table table-bordered">
      <tr>
        <th width="350">Resource</th>
        <th>Description</th>
      </tr>
      <tr>
        <td><%= link_to 'GET regulations', v2_resources_library_regulations_path %></td>
        <td>Returns all regulations.</td>
      </tr>
      <tr>
        <td><%= link_to 'GET regulations/:id', v2_resources_library_regulation_path %></td>
        <td>Returns a single regulation.</td>
      </tr>
    </table>

    <h3><a name="Sections">Sections (Library)</a></h3>
    <br />
    <table class="table table-bordered">
      <tr>
        <th width="350">Resource</th>
        <th>Description</th>
      </tr>
      <tr>
        <td><%= link_to 'GET sections', v2_resources_library_sections_path %></td>
        <td>Returns all sections.</td>
      </tr>
      <tr>
        <td><%= link_to 'GET sections/:id', v2_resources_library_section_path %></td>
        <td>Returns a single section.</td>
      </tr>
    </table>
    
    <h3><a name="PDClauses">Clauses (Procurement Document)</a></h3>
    <br />
    <table class="table table-bordered">
      <tr>
        <th width="350">Resource</th>
        <th>Description</th>
      </tr>
      <tr>
        <td><%= link_to 'GET procurement_documents/:token/clauses', v2_resources_procurement_document_clauses_path %></td>
        <td>Returns all clauses for a Procurement Document.</td>
      </tr>
      <tr>
        <td><%= link_to 'POST procurement_documents/:token/clauses', v2_resources_procurement_document_clause_create_path %></td>
        <td>Creates a single clause for a Procurement Document.</td>
      </tr>
      <tr>
        <td><%= link_to 'GET procurement_documents/:token/clauses/:id', v2_resources_procurement_document_clause_path %></td>
        <td>Returns a single clause for a Procurement Document.</td>
      </tr>
      <tr>
        <td><%= link_to 'DELETE procurement_documents/:token/clauses/:id', v2_resources_procurement_document_clause_delete_path %></td>
        <td>Deletes a single clause for a Procurement Document.</td>
      </tr>
    </table>
    
    <h3><a name="PDIndicators">Indicators (Procurement Document)</a></h3>
    <br />
    <table class="table table-bordered">
      <tr>
        <th width="350">Resource</th>
        <th>Description</th>
      </tr>
      <tr>
        <td><%= link_to 'GET procurement_documents/:token/indicators', v2_resources_procurement_document_indicators_path %></td>
        <td>Returns all indicators for a Procurement Document.</td>
      </tr>
      <tr>
        <td><%= link_to 'PUT procurement_documents/:token/indicators', v2_resources_procurement_document_indicators_update_path %></td>
        <td>Updates indicators for a Procurement Document.</td>
      </tr>
      <tr>
        <td><%= link_to 'GET procurement_documents/:token/indicators/:id', v2_resources_procurement_document_indicator_path %></td>
        <td>Returns a single indicator for a Procurement Document.</td>
      </tr>
      <tr>
        <td><%= link_to 'PUT procurement_documents/:token/indicators/:id', v2_resources_procurement_document_indicator_update_path %></td>
        <td>Updates a single indicator for a Procurement Document.</td>
      </tr>
    </table>
    
    <h3><a name="ProcurementDocuments">Procurement Document (Procurement Document)</a></h3>
    <br />
    <table class="table table-bordered">
      <tr>
        <th width="350">Resource</th>
        <th>Description</th>
      </tr>
      <tr>
        <td><%= link_to 'GET procurement_documents', v2_resources_procurement_document_procurement_documents_path %></td>
        <td>Returns all Procurement Documents.</td>
      </tr>
      <tr>
        <td><%= link_to 'POST procurement_documents', v2_resources_procurement_document_procurement_document_create_path %></td>
        <td>Creates a new Procurement Document.</td>
      </tr>
      <tr>
        <td><%= link_to 'GET procurement_documents/:token', v2_resources_procurement_document_procurement_document_path %></td>
        <td>Returns a single Procurement Document.</td>
      </tr>
      <tr>
        <td><%= link_to 'PUT procurement_documents/:token', v2_resources_procurement_document_procurement_document_update_path %></td>
        <td>Updates a Procurement Document.</td>
      </tr>
      <tr>
        <td><%= link_to 'GET procurement_documents/:token/launch_gui', v2_resources_procurement_document_procurement_document_launch_gui_path %></td>
        <td>Launch the Clause Logic GUI for this procurement document.</td>
      </tr>
    </table>

    <h3><a name="PDRegulations">Regulations (Procurement Document)</a></h3>
    <br />
    <table class="table table-bordered">
      <tr>
        <th width="350">Resource</th>
        <th>Description</th>
      </tr>
      <tr>
        <td><%= link_to 'GET procurement_documents/:token/regulations', v2_resources_procurement_document_regulations_path %></td>
        <td>Returns all regulations for a Procurement Document.</td>
      </tr>
      <tr>
        <td><%= link_to 'PUT procurement_documents/:token/regulations', v2_resources_procurement_document_regulations_update_path %></td>
        <td>Updates all regulations for a Procurement Document.</td>
      </tr>
    </table>

  </div>
</div>
