<% content_for :page_header do %>
  <div class="row">
    <div class="span12">
      <h1>Documentation</h1>
    </div>
  </div>
<% end %>

<div class="alert">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  Version 2 is under development and is subject to change.
</div>

<div class="row">
  <div class="span12">
    <p><span class="label label-info">What's New</span> Find out <%= link_to "what's new in Version 2", v2_whats_new_path %>.</p>
    <p>Getting started with Clause Logic is easy. Jump right into the API Documentation or check out our Getting Started guides.</p>
  </div>
</div>

<div class="row">
  
  <div class="span6">
    <h3>Getting Started</h3>
    <ul>
      <li><%= link_to 'API Overview', v2_guides_overview_path %></li>
      <li><%= link_to 'API Environments', v2_guides_api_environments_path %></li>
      <li><%= link_to 'Create a Procurement Document', v2_guides_create_procurement_document_path %></li>
      <li><%= link_to 'Specify Indicators', v2_guides_specify_indicators_path %></li>
      <li><%= link_to 'Specify Regulations', v2_guides_specify_regulations_path %></li>
      <li><%= link_to 'Launch the CL GUI', v2_guides_launch_gui_path %></li>
    </ul>
  </div>
  
  <div class="span6">
    <h3>REST API</h3>
    <ul>
      <li><%= link_to 'Resource Objects', v2_resource_objects_path %></li>
      <li><%= link_to 'Resources (API Endpoints)', v2_resources_path %></li>
      <li><%= link_to 'Error Codes and Responses', v2_api_errors_path %></li>
    </ul>
  </div>

</div>

<div class="row">
  <div class="span6">
    <h3>Tutorials</h3>
    <ul>
      <li><%= link_to 'How to Create a Procurement Document?', v2_tutorials_create_procurement_document_path %></li>
      <li><%= link_to 'How do I specify which regulations apply?', v2_tutorials_applying_regulations_path %></li>
      <li><%= link_to 'What are CLATs and How do I use Them?', v2_tutorials_clats_and_how_to_use_them_path %></li>
    </ul>
  </div>

  <div class="span6">
    <h3>Authentication</h3>
    <ul>
      <li><%= link_to 'Overview', v2_authentication_path %></li>
    </ul>
  </div>

</div>

<div class="row">
  <div class="span6">
    <h3>Clients</h3>
    <ul>
      <li><a href="https://github.com/hgslabs/cls-client-library-php" target="_blank">PHP</a></li>
    </ul>
  </div>

</div>
