<div class="well">
  <h2>RESOURCE OBJECTS</h2>
  <ul>
    <li><%= link_to 'Overview', v2_resource_objects_path %></li>
  </ul>
  <h3>Library</h3>
  <ul>
    <li><%= link_to 'Clause', clause_v2_resource_objects_path %></li>
    <li><%= link_to 'ClauseRevision', clause_revision_v2_resource_objects_path %></li>
    <li><%= link_to 'Fillin', nil %></li>
    <li><%= link_to 'Indicator', indicator_v2_resource_objects_path %></li>
    <li><%= link_to 'IndicatorValue', indicator_value_v2_resource_objects_path %></li>
    <li><%= link_to 'Prescription', prescription_v2_resource_objects_path %></li>
    <li><%= link_to 'PrescriptionRevision', prescription_revision_v2_resource_objects_path %></li>
    <li><%= link_to 'Regulation', regulation_v2_resource_objects_path %></li>
    <li><%= link_to 'Section', section_v2_resource_objects_path %></li>
  </ul>
  <h3>Procurement Document</h3>
  <ul>
    <li>Procurement Document</li>
    <li>Line Item</li>
    <li>Clause</li>
    <li>Regulation</li>
  </ul>
</div>