<% content_for :breadcrumbs do %>
  <ul class="breadcrumb">
    <li><%= link_to 'Documentation', v2_root_path %> <span class="divider">/</span></li>
    <li><%= link_to 'Resource Objects', v2_resource_objects_path %> <span class="divider">/</span></li>
    <li class="active"><%= resource_name(@resource) %></li>
  </ul>
<% end %>

<% content_for :sidebar do %>
  <%= render partial: 'v2/resource_objects/sidebar' %>
<% end %>

<h1><%= resource_name(@resource) %> (Library)</h1>

<p>&#x2714; = always in response, &#x25CB; = sometimes in response</p>
<p>The compact object is sometimes returned when the response is nested within another object.</p>
<table class="table table-bordered">
  <tr>
    <th>Field</th>
    <th>Description</th>
    <th class="text_center">Compact<br />Object</th>
    <th class="text_center">Complete<br />Object</th>
  </tr>
  <% @resource.fields.each do |field, options| %>
  <tr>
    <td><%= field %></td>
    <td><%= options[:description] %></td>
    <td class="text_center"><%= field_included(options[:compact]) %></td>
    <td class="text_center"><%= field_included(options[:complete]) %></td>
  </tr>
  <% end %>
</table>

<% unless @resource.example.nil? %>
<h2>Example <%= resource_name(@resource) %></h2>
<pre class="well prettyprint">
<%= JSON.pretty_generate(@resource.example) %>
</pre>
<% end %>
