<!DOCTYPE html>
<html>
<head>
  <title>Clause Logic - Documentation</title>
  <%= stylesheet_link_tag 'application' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tag %>
  <%= yield :head %>
</head>
<body>
  <%= render 'shared/noscript' %>
  <div id="siteContainer">
    <%= render 'shared/header' %>

    <div class="container">
      
      <div class="row">
        <% if content_for?(:breadcrumbs) %>
        <div id="breadCrumbs" class="span12">
          <%= render 'shared/breadcrumbs' %>
        </div>
        <% end %>
        
        <% if content_for?(:page_header) %>
        <div id="pageHeader" class="span12">
          <%= yield :page_header %>
        </div>
        <% end %>        
        
        <% unless flash.empty? %>
          <% flash.each do |key, value| %>
            <div class="alert alert-<%= key %>">
              <a class="close" data-dismiss="alert">×</a>
              <%= value %>
            </div>
          <% end %>
        <% end %>
        
        <% if content_for(:sidebar) %>
        <div id="sidebar" class="span4">
          <%= yield :sidebar %>
        </div>
        <% end %>
        
        <div id="content" class="<%= content_for?(:sidebar) ? 'span8' : 'span12' %>">
          <%= yield %>
        </div>
        
      </div>
    </div>
  
    <%= render 'shared/footer' %>
  </div>
  <%= render 'shared/ga' %>
</body>
</html>
