<!DOCTYPE html>
<html>
<head>
  <title>Clause Logic - Documentation</title>
  <%= stylesheet_link_tag 'application' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tag %>
  <%= yield :head %>
</head>
<body>
  <%= render 'shared/noscript' %>
  <div id="siteContainer">
    <%= render 'shared/header' %>
  
    <div class="container">
      <div class="row">
        <div class="span12">
          <% flash.each do |key, value| %>
            <div class="alert alert-<%= key %>">
              <a class="close" data-dismiss="alert">×</a>
              <%= value %>
            </div>
          <% end %>
        </div>
      </div>
      <div class="row">
        <div id="pageHeader" class="span12">
          <%= yield :page_header %>
        </div>
      </div>
      <div class="row">
        <div id="content" class="span12">
          <%= yield %>
        </div>
      </div>
    </div>
  
    <%= render 'shared/footer' %>
  </div>
  <%= render 'shared/ga' %>
</body>
</html>
